In [ ]:
import pandas as pd
import numpy as np

def clean_data(df):
    # Rename all columns and drop name columns
    df = df.rename(columns={df.columns[0]: 'iteration'})
    t = df.columns[1]
    df = df.drop(t, axis=1)
    df = df.rename(columns={df.columns[1]: t})
    t = df.columns[2]
    df = df.drop(t, axis=1)
    df = df.rename(columns={df.columns[2]: t})
    
    # Drop extreme results (outliers) from total iteration Time column (1)
    Q1 = df.iloc[:,1].quantile(0.25)
    Q3 = df.iloc[:,1].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5*IQR
    upper = Q3 + 1.5*IQR
    upper_arr = np.where(df.iloc[:,1] >= upper)[0]
    lower_arr = np.where(df.iloc[:,1] <= lower)[0]
    df = df.drop(index=upper_arr)
    df = df.drop(index=lower_arr)

    # Created column 'misc. T' from formula
    df['misc. T'] = df.iloc[:,1]-df.iloc[:,2]

    return df

# Loaded variable 'df' from URI: /home/bernat/Documents/CAP_Practica1/CAP-prac1/new_centroid_diff.csv
df = pd.read_csv(r'/home/bernat/Documents/CAP_Practica1/CAP-prac1/old_centroid.csv')

df_clean = clean_data(df.copy())
df_clean.head()

  iteration     it. T   dist. T
0       [1]  1.323021  0.794946
1       [2]  0.959026  0.552414
2       [3]  0.465174  0.133463
3       [4]  0.380041  0.091010
4       [5]  0.391123  0.098119