In [73]:
import pandas as pd
import numpy as np

def remove_outliers(df, column_idx):
    Q1 = df.iloc[:,column_idx].quantile(0.25)
    Q3 = df.iloc[:,column_idx].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5*IQR
    upper = Q3 + 1.5*IQR
    upper_arr = np.where(df.iloc[:,column_idx] >= upper)[0]
    lower_arr = np.where(df.iloc[:,column_idx] <= lower)[0]
    try:
        df = df.drop(index=upper_arr)
    except:
        None
    try:
        df = df.drop(index=lower_arr)
    except:
        None
        
    return df

def clean_data(df):
    # Rename all columns and drop name columns
    df = df.rename(columns={df.columns[0]: 'iteration'})
    t = df.columns[1]
    df = df.drop(t, axis=1)
    df = df.rename(columns={df.columns[1]: t})
    t = df.columns[2]
    df = df.drop(t, axis=1)
    df = df.rename(columns={df.columns[2]: t})

    # Created column 'misc. T' from formula
    df['misc. T'] = df.iloc[:,1]-df.iloc[:,2]

    # Drop extreme results (outliers) from total iteration Time column (1)
    df = remove_outliers(df, 1)
    df = remove_outliers(df, 2)
    df = remove_outliers(df, 3)

    return df

In [74]:
df = pd.read_csv(r'/home/bernat/Documents/CAP_Practica1/CAP-prac1/old_centroid.csv')

df_old_clean = clean_data(df.copy())
df_old_clean.head()

  iteration     it. T   dist. T   misc. T
2       [3]  0.465174  0.133463  0.331711
3       [4]  0.380041  0.091010  0.289031
4       [5]  0.391123  0.098119  0.293004
5       [6]  0.366473  0.083472  0.283001
6       [0]  0.340860  0.076367  0.264493

In [75]:
df = pd.read_csv(r'/home/bernat/Documents/CAP_Practica1/CAP-prac1/new_centroid_diff.csv')

df_new_clean = clean_data(df.copy())
df_new_clean.head()

  iteration   iter. T   dist. T   misc. T
4       [5]  0.299003  0.226503  0.072500
5       [6]  0.175403  0.118591  0.056812
6       [7]  0.196325  0.141882  0.054443
7       [8]  0.183494  0.135074  0.048420
8       [9]  0.183923  0.131778  0.052145